<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymleaf basico</title>
</head>
<body>
<a th:href="@{/hola}">Este</a> es un enlace para saber la hora actual
<br></br>

<a th:href="@{/frase}">Aquí para generar una frase motivadora</a>
<br></br>

<a th:href="@{/aleatorio}">Aquí para generar un dado virtual</a>
<br></br>

<a th:href="@{/aleatorio}">Aquí para generar una contraseña simple</a>
<br></br>

<a th:href="@{/aleatorio}">Aquí para generar una ficha de personaje</a>
<br></br>

<a th:href="@{/aleatorio}">Aquí para generar un saludo temporal</a>
<br></br>

<a th:href="@{/aleatorio}">Aquí para generar una ficha de estudiante</a>
<br></br>
</body>
</html>