<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Worlds League of legends</title>
</head>
<body>
<a th:href="@{/jugador}">Datos del jugador:</a>
<br></br>

<a th:href="@{/mvp}">Jugador MVP::</a>
<br></br>

<a th:href="@{/dado}">tercer enlace</a>
<br></br>
<!--
<a th:href="@{/contraseña}">Aquí para generar una contraseña simple</a>
<br></br>

<a th:href="@{/personaje}">Aquí para generar una ficha de personaje</a>
<br></br>

<a th:href="@{/saludoHora}">Aquí para mostrar un saludo según la hora</a>
<br></br>

<a th:href="@{/fichaEstudiante}">Aquí para generar una ficha de estudiante</a>
<br></br>-->
</body>
</html>